html, body {
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
    font-family: 'roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.navigation {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


.navigation ul li{
    display: flex;
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.navigation ul li a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin-right: 40px;
    padding-right: 40px;

    
}

.logo img{
    width: 70px;
    height: 70px;
    border-radius: 8px;
}



.button {
    float: right;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(150, 47, 47);
    cursor: pointer;
    transition: all 0.4s ease;
}


.button:hover {
    background-color: rgb(116, 26, 26);
}

.container {
    position: relative;
    text-align: left;
    color: black;
}

.main-text{
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-button {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(150, 47, 47);
    cursor: pointer;
    transition: all 0.4s ease;
}

.main-button:hover {
    background-color: rgb(116, 26, 26);
}


.container img{
    max-width: 100%;
    max-height: 50%;
}


.famous{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.famous h2 {
    font-size: 35px;
    font-weight: 600;

}

.famous p {
    font-size: 22px;
}


.famous-places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 60px;
    padding: 0 20px;
}

.places {
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding-bottom: 50px;
    
}


.places img{
    border-radius: 10px;
    width: 100%;
    height: 250px;
    
    display: block;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow0.3s ease;
}

.places img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


.places h2,
.places p {
    width: 100%;
    box-sizing: border-box;
}



.places button {
    font-family: fantasy;
    width: 170px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.places button:hover {
    background-color: bisque;
}


.footer {
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
}

.footer-content {
    max-width: 1200px;            
    margin: 0 auto;                
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.social-media h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media a {
   color: white;
   margin: 0 5px;
}

.modal {
    display: none; 
    position: fixed; 
    inset: 0; 
    background-color: rgba(0,0,0,0.8); 
    justify-content: center; 
    align-items: center;    
    z-index: 9999;
    
}

.modal-content {
    position: relative;
    padding: 16px;
    border-radius: 10px;
    max-width: 90%;
    width: auto;        
    max-height: 80vh;   
    display: flex;
    flex-direction: column; 
    gap: 10px;  
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-section {
    display: flex;         
    flex-direction: row;
    flex-wrap: nowrap;     
    overflow-x: auto;      
}

.modal-section img {
    width: 450px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 6px;
    
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
    background: #d33;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
}


.modal-section h3 {
    margin-bottom: 10px;
}


@media (max-width: 1000px) {
     .main-text {
        font-size: 24px;
        top: 60%;
    }
}

@media (max-width: 766px){
    .footer {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }
    .famous-places {
        grid-template-columns: 1fr;
    }
   
}

@media (max-width:480px) {
    .navigation {
        display: none;
    }
}